<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/acceuil">Mon menu</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#!/acceuil">Acceuil</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Streamers<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/isoka">Isoka</a></li>
                        <li><a href="#">Soucrof</a></li>
                        <li><a href="#">Benjibanane</a></li>
                        <li><a href="#">Tomzer</a></li>
                        <li><a href="#!/xalkinn">Xalkinn</a></li>
                    </ul>
                </li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> S'enrengistrer</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
            </ul>
        </div>
    </div>
</nav>